

hr{
  background-color: rgba(70,71,153,1)
}

.mainDiv{
  position: relative;
  background-color: rgb(12, 10, 4);
  height:100%;
  width:100%;
  overflow-x: hidden;
  color: white;
  display: inline-block;
  
}

.wrapper{
  margin-top:5em;
  margin-left:3em;
  margin-right:3em;
}

.center-content{
  justify-content: center;
}